/* .del {
  cursor: pointer;
  float: right;
  color: gray;
  margin-bottom: 0.5%;
  margin-right: 2%;
} */

.del {
  color: gray;
  border: none;
  outline: none;
  cursor: pointer;
  float: right;
  margin-right: 3%;
  margin-top: 4%;
}

span {
  display: inline-flex;
  margin-left: 5%;
  margin-top: 5%;
  font-size:1.5em;
}

.box{
  margin-top: 5%;
  margin-left: 3%;
}

/* .todo {
  padding: 10px;
  justify-content: center;
} */

div {
  height: 100px;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2%;
  box-shadow: 2px 3px 4px #888888;
}

.todo {
  background: #f4f4f4;
  border: 0.5px #ccc solid;
  border-radius: 0.15cm;
}

.is-complete {
  text-decoration: line-through;
}
