.form {
    display: flex;
    margin: 2% 2% 2%;
    justify-content: center;
}

mat-form-field {
    width: 30%;
    outline: none;
    font-size: large;
}

mat-label {
    font-size: large;
}
/*
.form input[type='submit'] {
    flex: 2;
} */

button{
    display: table-cell;
    margin-left: 10px;
    height: 3em;
    outline: none;
    margin-top: 1%;
    font-size: 1.2em;
}